@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@300;400&family=Roboto:wght@300;400&display=swap');
:root{
    --clr1:#f95b11;
    --clr2: #fff;
    --clr3: #000;
    --clr4: #f42f1d;
    --clr5: limegreen;
    --clr6: #634490;
    --clr7: #3466A5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Faustina', serif;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}
section{
    padding: 4rem 9%;
    margin-top: 5rem;
}
section h3{
    font-size: 3rem;
    color: var(--clr2);
    text-transform: none;
    text-align: center;
    letter-spacing: .2rem;
}
section h4{
    margin: 0 0 1rem 30rem;
    padding: .2rem;
    width: 25%;
    font-size: 3rem;
    color: var(--clr2);
    text-transform: none;
    text-align: center;
    align-items: center;
    letter-spacing: .1rem;
    background: var(--clr4);
    border-radius: 5px;
}
section p{
    color: var(--clr2);
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: 2.5rem;
    word-wrap: normal;
}
.btn{
    margin-top: 2rem;
    padding: 1rem 4rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: .1rem;
    font-weight: 500;
    color: var(--clr3);
    background: var(--clr2);
    border: none;
    border-radius: .5rem;
    box-shadow: 0 2rem 2rem rgba(0,0,0,0.1);
    transition: all .3s ease;
    cursor: pointer;
    outline: none;
}
.btn:hover{
    background-color: var(--clr3);
    box-shadow: 0 2rem 2rem rgba(255,85,94,9.4);
    color: var(--clr2);
    transform: translateY(-1rem);
}
.head{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    background: var(--clr4);
    color: white;
    padding: 3rem 9%;
    align-items: center;
    justify-content: space-between;
}
.head h1{
    font-size: 1.5rem;
}
.head .fa-pizza-slice{
    animation: icon 5s ease infinite;
}
@keyframes icon{
    25%{
        transform: translateY(-1.5rem);
    }
    50%{
        transform: translateY(1.5rem);
    }
}
.head .navbar a{
    color: var(--clr2);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 1rem;
}
.head .navbar a:hover{
    color: var(--clr3);
    transition: .4s ease;
}
.head .side-bar i{
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    background: var(--clr2);
    color: var(--clr4);
}
.head .side-bar i:hover{
    background: var(--clr3);
    color: var(--clr4);
    transition: -4s ease;
}
#bars{
    display: none;
}
.search-bar{
    height: 3rem;
    padding: 0 1rem;
    display: flex;
    position: absolute;
    top: 99%;
    left: 75%;
    right: 0;
    align-items: center;background: var(--clr3);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 0 0);
}
.search-bar input{
    width: 100%;
    background: none;
    border: hidden;
    text-transform: none;
    font-size: 1.5rem;
    color: #fff;
}
.search-bar.active{
    border: hidden;
    transition: .2s ease;
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}
/* .........Home Section...... */
.home{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../assets/home.png);
    background-size: cover;
    background-position: center;
}
.home-content{
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
}
.inner-content{
    max-width: 70rem;
    margin-top: 10rem;
    text-align: center;
}
.inner-content i{
    color: var(--clr4);
}
.inner-content-img{
    margin-top: 6rem;
    margin-left: 10rem;
}
.inner-content-img img{
    width: 25rem;
    height: auto;
    animation: icon 5s ease infinite;
}
/* ......About Section....... */
.about-sec{
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
}
.img img{
    width: 25rem;
    height: auto;
    text-align: center;
    animation: icon 4s ease infinite;
}
.about-content h3{
    background: url(back.png);
    background-size: cover;
    background-position: center;
    color: var(--clr4);
}
.about .btn{
    border: .1rem solid var(--clr4);
}
.about-content p{
    padding-bottom: 2rem;
    color: var(--clr3);
    font-size: 1.4rem;
    font-weight: 600;
}
.about-inner h5{
    padding: 1rem 0;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 600;
}
.about-inner .fa-circle-arrow-right{
    color: var(--clr4);
    padding-right: 1rem;
}
.about-inner h5:hover{
    transform: translateX(2rem);
    transition: 1s ease;
}
/* ...Drag And Drop Menu Section */
/* .menu-content{
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr;
    grid-gap: 1rem;
    flex-wrap: wrap;
}
.in-box{
    padding: 3rem 4rem;
    text-align: center;
    border: 1rem solid var(--clr4);
    background: #eee;
}
.in-box:hover{
    background: var(--clr4);
    transition: .4s ease all;
}
.in-box img{
    width: 20rem;
    height: auto;
}
.in-box .far{
    position: absolute;
    font-size: 2.5rem;
    margin-left: -3rem;
    color: var(--clr3);
}
.in-box .veg-icon{
}
.star, .price{
    padding: 1rem 0;
    font-size: 1.8rem;
    font-size: 500;
    color: var(--clr3);
    text-transform: capitalize;
}
.in-content h2, .in-content p{
    font-size: 1.8rem;
    font-size: 700;
    padding: 1rem 0;
    text-transform: capitalize;
}
.fa-star{
    color: var(--clr5);
}
.in-box .far{
    font-size: 2rem;
    color: var(--clr3);
}
.in-box .fa-plus-circle{
    color: var(--clr4);
}
.hide{
    display: none;
} */


/*......Practice Drag And Drop Menu  */
.imgBox{
    background-image: url() ;
    /* position: relative; */
    height: 200px;
    margin-top: 10px;
    align-items: center;
    /* width: 200px; */
}
.whiteBox{
    display: inline-block;
    height: 350px;
    width: 350px;
    margin: 10px;
    background-color: var(--clr2);
    padding: 1rem 2rem;
    text-align: center;
    
}
.btn1{
    margin-bottom: 2rem;
    /* padding: 0rem 2rem; */
    font-size: 0.5rem;
    /* text-transform: capitalize;
    letter-spacing: .1rem; */
    font-weight: 500;
    color: var(--clr3);
    background: var(--clr2);
    border: none;
    border-radius: .5rem;
    box-shadow: 0 2rem 2rem rgba(0,0,0,0.1);
    transition: all .3s ease;
    cursor: pointer;
    outline: none;
}
 .imgBox .fa-plus-circle{
    color: var(--clr4);
} 
.hold{
    border: rgb(130, 132, 238);
}
.hide{
    display: none;
}
.dashed{
    background: #b8a5a5;
    border-style: dashed;
}
.main{
    background-color: #416269;
    align-items: center;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr;
    grid-gap: 1rem;
    flex-wrap: wrap;

}
/*.......Media Query........ */
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
}
@media (max-width:768px){
   #bars{
    display: inline-block;
   }
   .search-bar input{
    width: 100%;
   }
   .head .navbar{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 100%;
    background: var(--clr7);
    font-size: 2rem;
   }
   .head .navbar a{
    margin: 2rem 2.5rem;
    display: block;
    border-right: .1rem solid var(--clr4);
   }
   .head .navbar a:hover{
    transform: translateX(2rem);
    transition: 1s ease;
   }
   .head .navbar.active{
    right: .5rem;
    transition: .4s ease-in;
   }
}
